brew "chezmoi"
brew "colima"
brew "direnv"
brew "docker"
brew "docker-compose"
brew "gh"
brew "jenv"
brew "k9s"
brew "kcat"

{{- if eq .chezmoi.hostname "OM-tulm1-M1"}}
brew "kubernetes-cli"
brew "kubectx"
{{ end -}}

brew "neovim"
brew "openjdk"
brew "pyenv"
brew "telnet"
brew "uv"
brew "wget"
brew "yamlfmt"
cask "alfred"
cask "appcleaner"
cask "calibre"
cask "datagrip"
cask "font-bricolage-grotesque"
cask "font-daddy-time-mono-nerd-font"
cask "font-google-sans-code"
cask "font-sf-mono"
cask "ghostty"

{{- if eq .chezmoi.hostname "OM-tulm1-M1" }}
cask "intellij-idea"
{{ end -}}

cask "megasync"
cask "obsidian"
cask "openkey"
cask "rectangle"
cask "shottr"
cask "visual-studio-code"
cask "zen"
vscode "bluebrown.yamlfmt"
vscode "boukichi.git-exclude"
vscode "catppuccin.catppuccin-vsc"
vscode "degreat.fonted"
vscode "ms-azuretools.vscode-containers"
vscode "ms-python.black-formatter"
vscode "ms-python.debugpy"
vscode "ms-python.isort"
vscode "ms-python.python"
vscode "ms-python.vscode-pylance"
vscode "ms-python.vscode-python-envs"
vscode "pkief.material-icon-theme"
vscode "yzhang.markdown-all-in-one"
