{{ if .work }}tap "airbytehq/tap"{{ end }}
brew "chezmoi"
brew "colima"
brew "direnv"
brew "docker"
brew "docker-compose"
brew "eza"
brew "gh"
brew "go"
{{ if .work }}brew "haskell-stack"{{ end }}
brew "jenv"
{{ if .work }}brew "k9s"{{ end }}
brew "kcat"
{{ if .work }}brew "kubernetes-cli"{{ end }}
{{ if .work }}brew "kubectx"{{ end }}
brew "neovim"
brew "openjdk"
brew "pyenv"
brew "shfmt"
brew "telnet"
brew "uv"
brew "wget"
brew "yamlfmt"
{{ if .work }}brew "airbytehq/tap/abctl"{{ end }}
cask "alfred"
cask "appcleaner"
cask "betterdiscord-installer"
cask "betterdisplay"
{{ if .personal }}cask "cloudflare-warp"{{ end }}
{{ if .work }}cask "calibre"{{ end }}
cask "datagrip"
cask "discord"
cask "displaperture"
{{ if .work }}cask "espanso"{{ end }}
cask "font-bricolage-grotesque"
cask "font-daddy-time-mono-nerd-font"
cask "font-google-sans-code"
cask "font-maple-mono"
cask "font-sf-mono"
cask "ghostty"
cask "goland"
{{ if .work }}cask "intellij-idea"{{ end }}
cask "megasync"
{{ if .work }}cask "microsoft-remote-desktop"{{ end }}
cask "obsidian"
cask "openkey"
{{ if .work }}cask "pycharm"{{ end }}
cask "rectangle"
cask "shottr"
{{ if .personal }}cask "steam"{{ end }}
cask "visual-studio-code"
cask "zen"
vscode "bluebrown.yamlfmt"
vscode "boukichi.git-exclude"
vscode "catppuccin.catppuccin-vsc"
vscode "degreat.fonted"
vscode "foxundermoon.shell-format"
vscode "ms-azuretools.vscode-containers"
vscode "ms-python.black-formatter"
vscode "ms-python.debugpy"
vscode "ms-python.isort"
vscode "ms-python.python"
vscode "ms-python.vscode-pylance"
vscode "ms-python.vscode-python-envs"
vscode "pkief.material-icon-theme"
vscode "redhat.vscode-xml"
vscode "yzhang.markdown-all-in-one"
