#!/usr/bin/env zsh

# Completions
mattmc3/ez-compinit
zsh-users/zsh-completions kind:fpath path:src

# Prompt
romkatv/powerlevel10k

# OMZ
ohmyzsh/ohmyzsh path:plugins/direnv

# Some Fish-like features
zdharma-continuum/fast-syntax-highlighting
zsh-users/zsh-autosuggestions

{{ if eq .chezmoi.hostname "om-tulm1-m1" -}}
# Some aliases using only for One Mount Group environments
/Users/tulm1/Git/zsh_customs
{{ end -}}
